<ion-view title="Vendor Anda">
	<ion-content ng-controller="RatingsCtrl">
	<ionic-ratings ratingsobj='ratingsObject' index='0' id="ionic-ratings"></ionic-ratings>
	   <img src="img/blank_profile.png" alt="Profile Pict"  id="logo-orent-cari-vendor">
	   <p id="text-vendor">Vendor :</p>
	   <p id="text-vendor-1">Retsugo</p>
	   <img src="img/infocus.png" alt="Barang Sewa"  id="logo-orent-cari-vendor">
	   <div class="list list-inset">
			<p id="text-mencari-vendor">Lokasi</p>
			<HR width="100%" color="#000000" size="1">
            <label class="item item-input item-stacked-label">
            <p>Jl Ciheulang II No 3 Sekeloa Bandung</p>
            </label>
			<p id="text-mencari-vendor">Keterangan</p>
			<HR width="100%" color="#000000" size="1">
            <label class="item item-input item-stacked-label">
            <p>Barang diambil sore ini</p>
            </label>
		</div>
		
		<h2 id="text-vendor-1">Price</h2>
		<img src="img/arrow-down.png" alt="Arrow Down"  id="arrow-down" width="20%">
		
		<div class="list list-inset">
			<p id="text-mencari-vendor">Harga</p>
            <label class="item item-input item-stacked-label">
            <p style="text-align:right;margin-right:10px;">Rp 450.000</p>
            </label>
			<p id="text-mencari-vendor">Discount</p>
            <label class="item item-input item-stacked-label">
            <p style="text-align:right;margin-right:10px;">-</p>
            </label>
			<p id="text-mencari-vendor">Total</p>
            <label class="item item-input item-stacked-label">
            <p style="text-align:right;margin-right:10px;">Rp 450.000</p>
            </label>
		</div>
		
		<div class="button-bar">
			<a class="button" href="#/app/home/{{friend.id}}/mencari-vendor" id="cari-lagi">Cari Lagi</a>
			<a class="button" href="#/app/home/{{friend.id}}/konfirmasi-sewa" id="cari-lagi">Lanjutkan</a>
		</div>
		
	</ion-content>
</ion-view>