<ion-view title="Deposit" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="deposit-form12" class="list">
      <div id="deposit-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Selamat datang di Orent-Credit</p>
      </div>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <div id="deposit-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:25px;">Saldo Anda</p>

        <p style="color:#000000;font-size:25px;">
          <strong>Rp 1.000.000</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <button id="deposit-button14" class="button button-energized  button-block">Top Up</button>
    </form>
  </ion-content>
</ion-view>