<ion-view title="Detail Transaksi" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="detailTransaksi-form9" class="list">
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <div>
        <img src="img/L2kJAZASSC2Roxj6uXuQ_infocus.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 46px;"></div>
      <ion-item id="detailTransaksi-list-item16">Barang Sewa
        <span class="item-note">Proyektor</span>
      </ion-item>
      <ion-item id="detailTransaksi-list-item17">Waktu Sewa
        <span class="item-note">4/12/2016</span>
      </ion-item>
      <ion-item id="detailTransaksi-list-item18">Waktu Sewa
        <span class="item-note">07:00 AM</span>
      </ion-item>
      <ion-item id="detailTransaksi-list-item19">Lama Sewa
        <span class="item-note">12 jam</span>
      </ion-item>
      <ion-item id="detailTransaksi-list-item20">Keterangan
        <span class="item-note">Untuk acara kampus</span>
      </ion-item>
    </form>
    <a ui-sref="menu.historyTransaksi" id="detailTransaksi-button12" class="button button-energized  button-block">Kembali</a>
  </ion-content>
</ion-view>