<ion-view title="Form Sewa" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="formSewa2-form3" class="list">
      <div>
        <img src="img/a8wqE3MDQ9qaVUdBb4mT_maps.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-item id="formSewa2-list-item11">Barang Sewa
        <span class="item-note">Proyektor</span>
      </ion-item>
      <label class="item item-select" id="formSewa2-select3" name="ambilantarbarang">
        <span class="input-label">Ambil/ Antar</span>
        <select>
          <option>Ambil</option>
        </select>
      </label>
      <label class="item item-input" id="formSewa2-input9" name="tanggalsewa">
        <span class="input-label">Tanggal sewa</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="formSewa2-input10" name="waktusewa">
        <span class="input-label">Waktu sewa</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-select" id="formSewa2-select4" name="lamasewa">
        <span class="input-label">Lama sewa</span>
        <select>
          <option>12 jam</option>
          <option>24 jam</option>
        </select>
      </label>
      <label class="item item-input" id="formSewa2-input11">
        <span class="input-label">Jumlah</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="formSewa2-input12" name="keterangan">
        <span class="input-label">Keterangan</span>
        <input type="text" placeholder="Keterangan">
      </label>
      <a ui-sref="menu.mencariVendor" id="formSewa2-button3" class="button button-energized  button-block">Sewa</a>
    </form>
  </ion-content>
</ion-view>