<ion-view title="Form Sewa">
   <ion-content ng-controller="MapController">
      <div id="map" data-tap-disabled="true" ></div>
	  <div class="list list-inset">
            <label class="item item-input item-stacked-label">
            <span class="input-label">Barang Sewa</span>
            <input type="text" disabled="disabled" placeholder="Barang Sewa" value="{{friend.name}}" id="barang-sewa">
            </label>

			<label class="item item-input item-select"> 
			<div class="input-label">
			  Ambil/ Antar Barang
			</div>
			<select id="ambil-antar" ng-model="input.ambilAntar">
			<option selected>Ambil</option>
			<!--<option>Antar</option>-->
			</select>
			</label>
			<onclick="initAutocomplete()">
			
			<!--<label class="item item-input item-stacked-label">
			<a href="#/app/home/formsewa/places">--> 
			<!-- sementara pake current location dulu -->
			<!--<span class="input-label" width="100%">Lokasi Sewa 
			</span>
			<input type="text" placeholder="Lokasi Sewa (click here)" disabled="disabled" value="{{data}}">
			</label>
            <label class="item item-input item-stacked-label" margin-bottom="5px">
            <span class="input-label">Detail Lokasi</span>
            <input type="text" placeholder="Detail Lokasi">
            </label>-->
			<!--<HR width="100%" color="#000000" size="1">-->
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">Tanggal Sewa</span>
            <input type="date" placeholder="Tanggal Sewa" id="tanggal-sewa" ng-model="input.tanggalsewa">
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Waktu Mulai Sewa</span>
            <input type="time" placeholder="Waktu Mulai Pemakaian" id="waktu-mulai-sewa" ng-model="input.waktumulaisewa">
            </label>

			<label class="item item-input item-select"> 
			<div class="input-label">
			  Lama Sewa
			</div>
			<select id="lama-sewa" ng-model="input.lamasewa">
			<option selected>12 jam</option>
			<option>24 jam</option>
			</select>
			</label>

			<label class="item item-input item-stacked-label">
            <span class="input-label">Jumlah</span>
            <input type="number" placeholder="Jumlah" id="jumlah" ng-model="input.jumlah" min="1">
			</label>
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">Keterangan</span>
            <input type="text" placeholder="Keterangan" id="keterangan" ng-model="input.keterangan">
            </label>
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">NPM</span>
            <input type="text" placeholder="Keterangan" id="keterangan">
            </label>
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">Nama</span>
            <input type="text" placeholder="Keterangan" id="keterangan">
            </label>
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">Jurusan</span>
            <input type="text" placeholder="Keterangan" id="keterangan">
            </label>
			
			<label class="item item-input item-stacked-label">
            <span class="input-label">Semester</span>
            <input type="text" placeholder="Keterangan" id="keterangan">
            </label>
			
<!--			<a href="#/app/home/{{friend.id}}/konfirmasi-sewa"> -->
			<a href="#/app/home/{{friend.id}}/mencari-vendor">
			<button class="button button-block button-dark" margin="5px" >
			Sewa
			</button></a>
			
			<button class="button button-block button-dark" margin="5px" data-ng-click="simpan()">
			Simpan
			</button>
			<p>{{ pesan }}</p>
			
<!--			<p ng-bind="input.tanggalsewa | date : 'yyyy-MM-dd'"></p>
			<p ng-bind="input.waktumulaisewa | date : 'HH:mm:ss'"></p>-->
		 </div>
   </ion-content>
</ion-view>