<ion-view title="Form Sewa" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="formSewa-form2" class="list">
      <div>
        <img src="img/a8wqE3MDQ9qaVUdBb4mT_maps.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-item id="formSewa-list-item10">Barang Sewa
        <span class="item-note">Avanza</span>
      </ion-item>
      <label class="item item-select" id="formSewa-select1" name="ambilantarbarang">
        <span class="input-label">Ambil/ Antar</span>
        <select>
          <option>Ambil</option>
        </select>
      </label>
      <label class="item item-input" id="formSewa-input5" name="tanggalsewa">
        <span class="input-label">Tanggal sewa</span>
        <input type="date" placeholder="klik disini">
      </label>
      <label class="item item-input" id="formSewa-input6" name="waktusewa">
        <span class="input-label">Waktu sewa</span>
        <input type="time" placeholder="klik disini">
      </label>
      <label class="item item-select" id="formSewa-select2" name="lamasewa">
        <span class="input-label">Lama sewa</span>
        <select>
          <option>12 jam</option>
          <option>24 jam</option>
        </select>
      </label>
      <label class="item item-input" id="formSewa-input7" name="jumlah">
        <span class="input-label">Jumlah</span>
        <input type="number" placeholder="jumlah">
      </label>
      <label class="item item-input item-stacked-label" id="formSewa-input8" name="keterangan">
        <span class="input-label">Keterangan</span>
        <input type="text" placeholder="Keterangan">
      </label>
      <a ui-sref="menu.mencariVendor" id="formSewa-button2" class="button button-energized  button-block">Sewa</a>
    </form>
  </ion-content>
</ion-view>