<!--<ion-view title="Form Sewa">
	<ion-pane>
         <ion-content ng-controller="MapController">
            <div id="map" data-tap-disabled="true"></div>
         </ion-content>
    </ion-pane>
   <ion-pane>
   <ion-content ng-controller="MapController" >
      <!--Hi, I'm {{friend.name}}
	  <div id="map" data-tap-disabled="true"></div>
	  <!--<div class="list">
         <label class="item item-input item-stacked-label">
         <span class="input-label">Barang Sewa</span>
         <input type="text" placeholder="Barang Sewa" value="{{friend.name}}">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">First Name</span>
         <input type="text" placeholder="First Name">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">Last Name</span>
         <input type="text" placeholder="Last Name">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">Email</span>
         <input type="text" placeholder="Email">
         </label>
      </div>
   </ion-content>
   </ion-pane>
</ion-view>-->
<ion-view title="Form Sewa">
   <ion-content ng-controller="MapController" >
      <!--Hi, I'm {{friend.name}}-->
	  <div id="map" data-tap-disabled="true"></div>
	  <div class="list">
         <label class="item item-input item-stacked-label">
         <span class="input-label">Barang Sewa</span>
         <input type="text" placeholder="Barang Sewa" value="{{friend.name}}">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">First Name</span>
         <input type="text" placeholder="First Name">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">Last Name</span>
         <input type="text" placeholder="Last Name">
         </label>
         <label class="item item-input item-floating-label">
         <span class="input-label">Email</span>
         <input type="text" placeholder="Email">
         </label>
      </div>
   </ion-content>
   </ion-view>