<ion-view title="History Transaksi" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="historyTransaksi-form7" class="list">
      <ion-item class="item-avatar item-icon-right" id="historyTransaksi-list-item12" ui-sref="menu.detailTransaksi">
        <img src="img/FUqb4N8Ryehse8KZBhgS_infocus.png">
        <h2>Infocus</h2>
        <p>Status : Finished</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="historyTransaksi-list-item13">
        <img src="img/mmpNfBTMQnq1pbtLofZ3_mobil.png">
        <h2>Avanza</h2>
        <p>Status : On Progress</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 264px;"></div>
      <button id="historyTransaksi-button10" style="text-align:left;" class="button button-energized  button-block icon-right ion-android-refresh">Refresh</button>
    </form>
  </ion-content>
</ion-view>