<ion-tabs class="tabs-item tabs-negative">

        <ion-tab title="On Progress">
          <ion-nav-view name="on-progress-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Completed">
          <ion-nav-view name="completed-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>