<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-search1" name="Searchbar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Mau Sewa Apa Kak?">
      </label>
    </form>
    <ion-list id="home-list2">
      <ion-item id="home-list-item7" ui-sref="menu.formSewa">Avanza
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item id="home-list-item8" ui-sref="menu.formSewa2">Proyektor</ion-item>
    </ion-list>
  </ion-content>
</ion-view>