<ion-view title="Kontak Vendor">
   <ion-content ng-controller="RatingsCtrl">
	<img src="img/blank_profile.png" alt="Profile Pict"  id="logo-orent-cari-vendor">
	<p id="text-vendor">Vendor :</p>
    <p id="text-vendor-1">Retsugo</p>	
	<ionic-ratings ratingsobj='ratingsObject' index='0' id="ionic-ratings"></ionic-ratings>	
  	<div class="button-bar">
		<a class="button" id="cari-lagi">SMS</a>
		<a class="button" id="cari-lagi">Call</a>
	</div>
   </ion-content>
</ion-view>