<ion-view title="Kontak Vendor" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="kontakVendor-form6" class="list">
      <div>
        <img src="img/3oh61csuSwe8vMVV9eUE_handsome-italian-man.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="kontakVendor-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Vendor :</strong>
        </p>

        <p style="color:#000000;">Zen Milik Sypa</p>
      </div>
      <div>
        <img src="img/ou3Mni8kQk6CCVlx4z4N_3-stars.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 175px;"></div>
      <button id="kontakVendor-button7" style="text-align:left;" class="button button-energized  button-block icon-right ion-android-call">Telepon</button>
      <button id="kontakVendor-button8" style="text-align:left;" class="button button-energized  button-block icon-right ion-android-textsms">SMS</button>
    </form>
  </ion-content>
</ion-view>