<ion-view title="Mencari Vendor" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="mencariVendor-form4" class="list">
      <div id="mencariVendor-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:15px;">Mencari Vendor. . .</p>
      </div>
      <div>
        <a style="display:block;" ui-sref="menu.vendorAnda">
          <img src="img/tL15RTqlR9GP8ZoCxqMM_logoOrentorenaja.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div id="mencariVendor-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Mohon tunggu</p>

        <p style="color:#000000;">Pencarian vendor sedang kami proses</p>
      </div>
      <div class="spacer" style="width: 300px; height: 203px;"></div>
      <button id="mencariVendor-button4" class="button button-energized  button-block">Cancel</button>
    </form>
  </ion-content>
</ion-view>