<ion-view title="Mencari Vendor">
   <ion-content ng-controller="FriendsCtrl">
   <h4 align="middle"> Mencari...</h4>
   <a href="#/app/home/{{friend.id}}/dapat-vendor">
   <img src="img/orent_only.png" alt="Orent Logo" id="logo-orent-cari-vendor"></a>
   <h5 align="middle"> Mohon tunggu</h5>
   <h5 align="middle"> Pencarian vendor sewa sedang kami proses</h5></a>
   <a href="#/app/home">
   <button class="button button-dark" id="cancel-pencarian">Cancel</button></a>
   </ion-content>
</ion-view>