<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
    <ion-header-bar class="bar-energized">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close="">Home</ion-item>
        <ion-item id="menu-list-item21" ui-sref="menu.historyTransaksi" menu-close="">History Transaksi</ion-item>
        <ion-item class="dark" id="menu-list-item2" ui-sref="menu.profil" menu-close="">Profil</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.deposit" menu-close="">Deposit</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>