<ion-view title="Search Location">
   <ion-content>
      <!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div class="list" ng-controller="PopupCtrl">
         <div class="item item-input-inset">
            <label class="item-input-wrapper">
				  <input type="text" placeholder="Search Location" id="pac-input" class="controls">
            </label>
            <button class="button button-small" onclick="initAutocomplete()" style="display:none;">
            Search
            </button>
         </div>
      </div>-->
	  <input type="text" placeholder="Search Location" id="pac-input" class="controls" ng-model="name">
      <div id="map-search" data-tap-disabled="true">
	  <!--<img src="img/pin.png" alt="Pin location" style="float;width:42px;height:42px;">-->
	  </div>
   </ion-content>
</ion-view>