<ion-view title="Profil" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="profil-form10" class="list">
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <div>
        <img src="img/538KNhvaQJOCHygeUxtn_ganteng.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 46px;"></div>
    </form>
    <form id="profil-form11" class="list">
      <label class="item item-input item-stacked-label" id="profil-input15" name="nama">
        <span class="input-label">Nama</span>
        <input type="text" placeholder="nama">
      </label>
      <label class="item item-input item-stacked-label" id="profil-input16" name="alamat">
        <span class="input-label">Alamat</span>
        <input type="text" placeholder="alamat">
      </label>
      <label class="item item-input item-stacked-label" id="profil-input17" name="nohp">
        <span class="input-label">No HP</span>
        <input type="text" placeholder="no HP">
      </label>
    </form>
    <button id="profil-button13" class="button button-energized  button-block">Simpan</button>
  </ion-content>
</ion-view>