<ion-view title="Vendor Anda" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="vendorAnda-form5" class="list">
      <div>
        <img src="img/ou3Mni8kQk6CCVlx4z4N_3-stars.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div>
        <img src="img/3oh61csuSwe8vMVV9eUE_handsome-italian-man.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="vendorAnda-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Vendor :</strong>
        </p>

        <p style="color:#000000;">Zen Milik Sypa</p>
      </div>
      <div id="vendorAnda-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Lokasi :</strong>
        </p>

        <p style="color:#000000;">Jalan Sekeloa No 41 Bandung</p>

        <p style="color:#000000;">
          <strong>Keterangan :</strong>
        </p>

        <p style="color:#000000;">Barang bisa diambil mulai sore ini</p>
      </div>
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <div id="vendorAnda-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:15px;">
          <strong>Harga</strong>
        </p>
      </div>
      <ion-list id="vendorAnda-list5">
        <ion-item id="vendorAnda-list-item24">Harga
          <span class="item-note">Rp 100.000</span>
        </ion-item>
        <ion-item id="vendorAnda-list-item27">Diskon
          <span class="item-note">Rp 0</span>
        </ion-item>
        <ion-item id="vendorAnda-list-item28">Total
          <span class="item-note">Rp 100.000</span>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <a ui-sref="menu.mencariVendor" id="vendorAnda-button5" class="button button-dark  button-block">Cari Lain</a>
      <a ui-sref="menu.kontakVendor" id="vendorAnda-button6" class="button button-energized  button-block">Ambil</a>
    </form>
  </ion-content>
</ion-view>